@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700&display=swap);

@font-face {
  font-family: "Banny";
  font-display: swap;
  src: url("../fonts/Banny-BoldRound.woff") format("woff"), url("../fonts/Banny-BoldRound.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.section-title {
  font-family: "Banny", sans-serif;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 27px;
  position: relative;
}

.section-title--white {
  color: #fff;
}

.section-title::after {
  content: "";
  background-color: #E8C300;
  width: 60px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000;
}

.section-subtitle--white {
  color: #fff;
}

.standart-btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  max-width: 200px;
  width: 100%;
  display: inline-block;
}

.standart-btn:hover {
  border: 1px solid #E8C300;
  background-color: #E8C300;
}

.standart-btn:active {
  opacity: 0.6;
}

.picture-main {
  padding-top: 79%;
  width: 79%;
  position: relative;
}

.picture-main img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.picture-second {
  padding-top: 41.5%;
  width: 41.5%;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.picture-second img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.m-title {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #fff;
}

.m-info {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
}

.m-info a {
  color: inherit;
}

.m-info span {
  font-weight: 700;
}

section {
  padding: 100px 0;
  position: relative;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background: url(../img/header_bg.jpg) center/cover no-repeat;
}

.header .container {
  height: 100vh;
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__row::before {
  content: "";
  width: calc(50% - 110px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
}

.header__row::after {
  content: "";
  width: calc(50% - 110px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
}

.header__burger {
  display: none;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 530px;
          flex: 0 1 530px;
}

.header__list:first-child {
  margin-right: 125px;
}

.header__list:last-child {
  margin-left: 125px;
}

.header__list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 133px;
          flex: 1 1 133px;
  text-align: center;
}

.header__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 100px;
  text-transform: uppercase;
  color: #fff;
}

.header__link:hover {
  color: #E8C300;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.header__inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__inner::before {
  content: "";
  width: 1px;
  height: calc(100% - 80px - 175px);
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 140px;
}

.header__inner::after {
  content: "";
  width: 1px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
}

.header__shedule {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 215px;
          flex: 0 0 215px;
  height: 100%;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.header__shedule p {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  white-space: nowrap;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 17px;
  top: 62.5%;
}

.header__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.header__box p {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

.header__title {
  font-size: calc(36px + 60 * ((100vw - 320px) / 960));
  line-height: 1.2;
  margin-bottom: 30px;
}

.header__buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__btn {
  margin: 0 20px;
}

.header__arrow-bottom {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  bottom: 80px;
}

.header__arrow-bottom::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__arrow-bottom::after {
  content: url(../img/icons/arrow_bottom.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__arrow-bottom:hover::before {
  background-color: #E8C300;
}

.header__socials {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 215px;
          flex: 0 0 215px;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.header__socials-list {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__social-link {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.header__social-link:hover {
  background-color: #E8C300;
  border: 1px solid #E8C300;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  margin-right: 30px;
}

.about__title {
  margin-bottom: 15px;
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__text {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  text-align: center;
}

.about__picture-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  position: relative;
}

.master {
  background: url(../img/Line.png) center/1px 100% no-repeat, url(../img/master_bg.jpg) center/cover no-repeat;
}

.master::before {
  content: "";
  position: absolute;
  background: url(../img/Line.png) center/1px 100% no-repeat;
  width: 1px;
  height: 100%;
  left: calc(50% - 1280px / 2 + 215px);
  top: 0;
}

.master::after {
  content: "";
  position: absolute;
  background: url(../img/Line.png) center/1px 100% no-repeat;
  width: 1px;
  height: 100%;
  right: calc(50% - 1280px / 2 + 215px);
  top: 0;
}

.master__mini-title {
  position: absolute;
  top: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.master__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.master__picture-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  position: relative;
  margin-right: 30px;
}

.master__picture-wrapper .picture-second {
  right: auto;
  left: 0;
}

.master__img-one {
  margin-left: auto;
}

.master__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
}

.master__title {
  margin-bottom: 15px;
}

.master__subtitle {
  margin-bottom: 20px;
}

.master__text {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.book__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book__title {
  margin-bottom: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.book__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  line-height: 60px;
  padding: 0 20px;
  background-color: #e5e5e5;
  border-radius: 5px;
  margin-bottom: 10px;
  color: rgba(51, 51, 51, 0.5);
  font-family: inherit, sans-serif;
}

.book__input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.book__input::-moz-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.book__input:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.book__input::-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.book__input::placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.book__select {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  position: relative;
  margin-bottom: 10px;
  background-color: #e5e5e5;
  border-radius: 5px;
}

.book__select select {
  display: block;
  line-height: 60px;
  padding: 0 20px;
  color: rgba(51, 51, 51, 0.5);
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Open Sans";
  width: 100%;
  cursor: pointer;
}

.book__select::after {
  content: url(../img/icons/select_arrow.svg);
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.book__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  line-height: 60px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  background-color: #E8C300;
  border-radius: 5px;
}

.book__btn:active {
  opacity: 0.6;
}

.book__picture-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  position: relative;
}

.book__info {
  position: absolute;
  bottom: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 1292px) {
  .header__title {
    font-size: 96px;
  }
}

@media (min-width: 1880px) {
  .master::before {
    left: calc(50% - 1280px / 2 + 215px);
  }

  .master::after {
    right: calc(50% - 1280px / 2 + 215px);
  }
}

@media (max-width: 1292px) {
  .container {
    max-width: 1140px;
  }

  .master::before {
    left: calc(50% - 1140px / 2 + 215px);
  }

  .master::after {
    right: calc(50% - 1140px / 2 + 215px);
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .master::before {
    left: calc(50% - 960px / 2 + 215px);
  }

  .master::after {
    right: calc(50% - 960px / 2 + 215px);
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .header__row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__inner::before {
    height: calc(100% - 30px - 175px);
    bottom: 90px;
  }

  .header__inner::after {
    height: 30px;
  }

  .header__shedule {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    height: auto;
    border-right: none;
    position: absolute;
    bottom: 110px;
  }

  .header__shedule p {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    width: auto;
    height: auto;
    position: static;
    left: auto;
    top: auto;
  }

  .header__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .header__socials {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    height: auto;
    border-left: none;
    margin-top: 40px;
  }

  .header__socials-list {
    position: static;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 45px;
  }

  .header__social-link {
    margin: 0 20px;
  }

  .header__arrow-bottom {
    bottom: 30px;
  }

  .master::before {
    display: none;
  }

  .master::after {
    display: none;
  }

  .book__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .book__select {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 19px;
    z-index: 6;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #303333;
    padding: 90px 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 5;
    display: block;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list:first-child {
    margin-right: 0;
  }

  .header__list:last-child {
    margin-left: 0;
  }

  .header__list li {
    border: none;
    margin: 0 0 30px 0;
  }

  .header__link {
    font-size: 18px;
    line-height: 1;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header__buttons-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__btn {
    margin: 0 auto 25px;
  }

  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-right: 0;
  }

  .about__picture-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
    margin-bottom: 35px;
  }

  .master__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .master__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-right: 0;
  }

  .master__picture-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
    margin: 0 0 35px 0;
  }

  .book__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .book__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-right: 0;
  }

  .book__picture-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}